h1 {
  text-align: center;
}

.Cats {
  display: grid;
  justify-content: center;
  align-items: center;
  height: auto;
}

.Dogs {
  display: grid;
  justify-content: center;
  align-items: center;
  height: auto;
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  place-content: center;
}

.carousel-small {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.carousel-link {
  text-decoration: none;
  color: inherit;
}

.animal-thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-small .carousel .slide img {
  height: 200px;
  object-fit: cover;
}

#steckbrief {
  text-align: center;
  margin: auto;
}

#steckbrief h1, #steckbrief h2 {
  margin-bottom: 1rem;
}

#steckbrief .info {
  display: inline-block;
  text-align: left;
}

#steckbrief h3 {
  font-weight: normal;
  text-align: center;
}

#steckbrief .label {
  font-weight: bold;
}

#steckbrief .value {
  font-weight: normal;
}

#steckbrief ul {
  list-style-type: none;
  padding: 0;
}

#steckbrief ul li {
  text-align: center;
}

