h1 {
  text-align: center;
}

.Cats {
  display: grid;
  justify-content: center;
  align-items: center;
  height: auto;
}

.Dogs {
  display: grid;
  justify-content: center;
  align-items: center;
  height: auto;
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  place-content: center;
}

.carousel-small {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.carousel-link {
  text-decoration: none;
  color: inherit;
}

.animal-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-small .carousel .slide img {
  height: 150px;
  object-fit: cover;
}