header {
    background-color: #90EE90; 
    padding: 20px;
    text-align: center;
  }
  
 .container {
    display: flex;
    justify-content: center;
  }
  
  .logo img {
    max-height: 80px; 
    margin-right: 35px;
    margin-left: 35px;
  }
  
  .donate-button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
  }

  @media (max-width: 791px) {
    .logo img {
        margin-bottom: 20px;
    }
  }

  @media (max-width: 650px) {
    .logo img {
        height: 70px;
    }
  }


