body {
    font-family: sans-serif;
    margin: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .hero {
    text-align: center;
    padding: 100px 0;
    background-color: #f2f2f2; 
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .hero .button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4CAF50; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .image-carousel {
    width: 100%;
    overflow: hidden; 
  }
  
  .image-carousel img {
    width: 100%;
    height: auto;
    display: block; 
  }

  .legend {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
  }

  .carousel-text {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border-radius: 5px;
      max-width: 80%;
  }

  .carousel-text2 {
      position: absolute;
      top: 50%;
      left: 80%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border-radius: 5px;
      max-width: 80%;
  }

  .carousel-text h1, .carousel-text2 h1 {
      font-size: 2rem;
      margin: 0;
      font-weight: bold;
  }

  .carousel-text p, .carousel-text2 p {
      font-size: 1rem;
      margin: 10px 0;
  }

  .carousel-text, .carousel-text2 {
      word-wrap: break-word;
      overflow-wrap: anywhere;
  }

  .main {
    margin: auto;
    width: 40%;
    text-align: center;
  }

  .main p, li {
    font-size: 1.3rem;
  }

  .main ul {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    text-align: left;
  }

  .main li {
    margin-bottom: 10px;
    padding-left: 10px;
  }

  .main ol {
    list-style-type: decimal;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
  }

  .adopt-button {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .adopt-button:hover {
    background-color: #ff3f31;
  }

  @media (max-width: 1400px) {
    .carousel-text {
        top: 50%;
        left: 23%;
        transform: translate(-50%, -40%);

        padding: 15px;
    }

    .carousel-text h1, .carousel-text2 h1 {
        font-size: 1.7rem;
    }

    .carousel-text p, .carousel-text2 p {
        font-size: 1rem;
    }
  }

  @media (max-width: 1000px) {
    .carousel-text {
        top: 50%;
        left: 25%;
        transform: translate(-50%, -40%);

        padding: 15px;
    }

    .carousel-text h1, .carousel-text2 h1 {
        font-size: 1.4rem;
    }

    .carousel-text p, .carousel-text2 p {
        font-size: 0.8rem;
    }
  }

  @media (max-width: 768px) {
    .carousel-text {
        top: 45%;
        left: 25%;
        width: 40%;
        transform: translate(-50%, -40%);
        max-width: 90%;
        padding: 15px;
    }

    .carousel-text2 {
        width: 35%;
    }

    .carousel-text h1, .carousel-text2 h1 {
        font-size: 1.2rem;
    }

    .carousel-text p, .carousel-text2 p {
        font-size: 0.7rem;
    }

    .hero h1 {
      font-size: 2em;
    }

    .hero p {
      font-size: 1em;
    }
  }

  @media (max-width: 480px) {
    .carousel-text {
        top: 45%;
        max-width: 95%;
        padding: 10px;
    }

    .carousel-text2 {
        top: 50%;
        max-width: 95%;
        padding: 10px;
    }

    .carousel-text h1, .carousel-text2 h1 {
        font-size: 1rem;
    }

    .carousel-text p, .carousel-text2 p {
        font-size: 0.6rem;
    }

    .hero {
      padding: 50px 0;
    }

    .hero h1 {
      font-size: 1.5em;
    }
  }
